/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_widgets.dtsi"

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    artist_out: artist_out {
        compatible = "zmk,output-generic";
        #binding-cells = <0>;
    };
    artist_relay: artist_relay {
        compatible = "zmk,split-peripheral-output-relay";
        relay-channel = <10>;
        device = <&artist_out>;
    };

    track_out: track_out {
        compatible = "zmk,output-generic";
        #binding-cells = <0>;
    };
    track_relay: track_relay {
        compatible = "zmk,split-peripheral-output-relay";
        relay-channel = <11>;
        device = <&track_out>;
    };
};
