/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_widgets.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    now_playing_dummy: now_playing_dummy {
        compatible = "zmk,output-split-output-relay";
        #binding-cells = <0>;
    };

    now_playing_artist: now_playing_artist {
        compatible = "zmk,split-peripheral-output-relay";
        device = <&now_playing_dummy>;
        relay-channel = <10>;
    };
    now_playing_track: now_playing_track {
        compatible = "zmk,split-peripheral-output-relay";
        device = <&now_playing_dummy>;
        relay-channel = <11>;
    };
};
