/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_widgets.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    nice_view_adapter: nice_view_adapter {
        status = "okay";
        compatible = "zmk,output-split-output-relay";
        label = "NICE_VIEW_ADAPTER";       /* уникальная строка */
        #binding-cells = <0>;
    };

    nice_view_adapter_cfg: nice_view_adapter_cfg {
        status = "okay";
        compatible = "zmk,split-peripheral-output-relay";
        device = <&nice_view_adapter>;
        relay-channel = <1>;
    };
};
