/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_widgets.dtsi"

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    /* Узел split-peripheral-output-relay: отправляет команды на OLED‑дисплей */
    now_playing_relay: now_playing_relay {
        compatible = "zmk,split-peripheral-output-relay";
        /* Phandle на ваш дисплей (имя узла в DTS: nice_view или display0 и т.п.) */
        device = <&nice_view>;
        /* Должно совпадать с CONFIG_RAW_HID_SPLIT_CHANNEL в corne.conf */
        relay-channel = <1>;
    };

    aliases {
        /*
         * Алиас now-playing-dev отображается в C‑коде как DT_ALIAS(now_playing_dev)
         * и подтягивает устройство nice_view через макрос DEVICE_DT_GET_OR_NULL.
         */
        now-playing-dev = &nice_view;
    };
};
